.pop-up{
    background-color: #1d282e;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up h1,p {
    color: #b9e4dd;
    width: 75%;
}

.pop-up p{
    font-size: 2rem;
}

@media screen and (max-width:720px){
    .pop-up p{
        font-size: 1rem;
    }

    .pop-up h1{
        font-size: 2rem;
    } 
}