.pop-up{
    background-color: #1d282e;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    margin-left: 10%;
    margin-top: 12.5%;
    height: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.pop-up h1,p {
    color: #b9e4dd;
    width: 75%;
}

.pop-up p{
    font-size: 2rem;
}

@media screen and (max-width:720px){
    .pop-up{
        width: 60%;
        margin-left: 14%;
    }

    .pop-up p{
        font-size: 1rem;
        width: 100%;
    }

    .pop-up h1{
        font-size: 2rem;
        width: 100%;
    }

}