.pop-up{
    background-color: #1d282e;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 12.5%;
    height: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.pop-up h1,p {
    color: #b9e4dd;
}

.pop-up p{
    font-size: 2rem;
}