#root {
  /* max-width: 1280px; */
  /* width: 100vw;
  height: 100vh; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-image: url(/images/pokemon-background-1.png); */
  /* background-size: cover; */
}